#header {
    height: 50px;
    background: #00307c;
    color: #fff;
  }
  
  #branding h1 {
    color: #fff;
  }
  
  a:link,
  a:visited {
    color:#00307c;
  }
  
  div.breadcrumbs {
    background: #1ba827;
    color: #00307c;
  }
  
  div.breadcrumbs a {
    color: rgb(36, 28, 28);
  }
  
  .module h2, .module caption, .inline-group h2 {
    background: #1ba827;
  }
  
  .button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #00307c;
    color: #fff;
  }